@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


.about_container{
    display: flex;
    flex-direction: column;
    gap:40px;
}
.about_cont_container{
    display: flex;
    flex-direction: column;
    gap:100px;
    align-items: center;
    padding: 80px;
    overflow-x: hidden;
}
.abt_topdiv{
    display: flex ;
    justify-content: center;
    gap:90px;
    flex-wrap: wrap-reverse;
    
}
.abt_desc{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    flex:1;
}
.abt_desc p{
    font-family: 'Quicksand', serif;
}
.abt_topdiv .abt_photo {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    min-width: 300px; /* Optional: Prevents the image from shrinking too much */
}

.abt_topdiv .abt_photo img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    flex-shrink: 1;
    flex-grow: 0;
    height: auto;
}
.abt_desc h1 {
    font-family: 'Raleway', serif;
    font-size: 72px;
    font-weight: 700;
    line-height: 1;
}
.abt_desc h1 span{
    color:#834098;
}
.abt_bottomdiv{
    display: flex ;
    justify-content: center;
    gap:90px;
    flex-wrap: wrap;
}
.abt_bottomdiv img{
    position: relative;
    z-index: 1000;
}
.playIcon{
    position:relative;
    top:50%;
    z-index: 1001;
    left: 50%;
    width:120px;
    height:120px;
    background-color: #834098;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid lightgrey;
    transition: 0.3s ease;

}
.playIcon i{
    font-size: 36px;
    transition: 0.3s ease;
}
.playIcon:hover {
    transform: scale(1.1);
    border: 8px solid white;
    .playIcon i{
        color: white;
    }
}

.readMoreButton {
    display: inline-flex;
    align-items: center;
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    font-weight: 700;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 20px;
}

.readMoreButton:hover {
    color: #834098;
}

.readMoreButton .fas {
    margin-left: 8px;
}

.scrollbar-custom {
    overflow-x: scroll;
    scroll-behavior: smooth;
}

/* WebKit Browsers (Chrome, Safari) */
.scrollbar-custom::-webkit-scrollbar {
    height: 8px;
}

.scrollbar-custom::-webkit-scrollbar-track {
    background: #d1d5db;
    border-radius: 10px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
    background: #834098;
    border-radius: 10px;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background: #834098;
}

/* Firefox */
.scrollbar-custom {
    scrollbar-width: thin;
    scrollbar-color: #834098 white;
}
@media (max-width: 640px) {
    .abt_desc h1{
        font-size: 50px;
    }
}