@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  z-index: 1;
  margin: 20px;
  justify-content: center;
  height: 100%;
}

.hero-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  line-height: 1.2;
  font-family: 'Montserrat', sans-serif;
}

.hero-subtitle {
  font-size: 1rem;
  /* font-weight: bold; */
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
}

.hero-button {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  margin-top: 20px;
}

.hero-button>a {
  font-size: 1rem;
  font-weight: bold;
  padding: 12px 20px;
  color: black;
  background-color: white;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s ease-in-out;
}

.hero-button>a:hover {
  background-color: #ffd012;
}

.hero-button>a:nth-child(2) {
  background-color: #ffd012;
}

.hero-button>a:nth-child(2):hover {
  background-color: black;
  color: white;
}

/* Tablets (min-width: 480px) */
@media (min-width: 480px) {
  .hero-content {
    align-items: center;
    /* Keep title and subtitle centered */
    text-align: center;
    /* Keep centered text alignment */
    margin: 40px;
  }

  .hero-title {
    font-size: 3rem;
  }

  .hero-subtitle {
    font-size: 1.25rem;
  }

  .hero-button {
    flex-direction: row;
    gap: 20px;
    justify-content: flex-start;
    /* Buttons aligned slightly to the left */
    align-self: center;
    /* Center buttons horizontally within hero-content */
  }

  .hero-button>a {
    width: auto;
  }
}

/* Small desktops (min-width: 768px) */
@media (min-width: 768px) {
  .hero-container {
    justify-content: center;
    /* Center hero-content vertically */
    align-items: center;
    padding: 50px;
  }

  .hero-content {
    margin: 80px;
  }

  .hero-title {
    font-size: 4rem;
  }

  .hero-subtitle {
    font-size: 1.5rem;
  }

  .hero-button>a {
    padding: 15px 25px;
  }
}

/* Large desktops (min-width: 1024px) */
@media (min-width: 1024px) {
  .hero-container {
    height: 100vh;
    padding: 100px;
    justify-content: center;
    align-items: start;
  }

  .hero-content {
    margin: 0;
  }

  .hero-title {
    font-size: 5rem;
    /* font-weight: normal; */
    
  }

  .hero-subtitle {
    font-size: 1.5rem;
    /* font-weight: normal; */
  }

  .hero-button {
    margin-top: 30px;
    justify-content: flex-start;
    align-self: start;
  }

  .hero-button>a {
    padding: 12px 38px;
    font-weight: normal;
  }
}