@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  z-index: 1;
  margin: 20px;
  margin-top: 0;
  justify-content: center;
  height: 100vh;
}

.hero-title {
  font-size: 2.5rem;
  font-family: 'Playfair Display', sans-serif;
  margin-bottom: 10px;
  line-height: 1.2;
  /* color:#834098; */
}

.hero-subtitle {
  font-size: 1rem;
  /* font-weight: bold; */
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  /* color:#ffd012; */
}

.hero-button {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  /* Align buttons to the left */
  margin-top: 20px;
  /* Add spacing between subtitle and buttons */
}

.hero-button > a {
  font-size: 1rem;
  font-weight: bold;
  padding: 12px 20px;
  color: #834098;
  background-color: white;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s ease-in-out;
  font-family: 'Montserrat', sans-serif;
}

.hero-button > a:hover {
  background-color: #ffd012;
}

.hero-button > a:nth-child(2) {
  background-color: #ffd012;
  color: white;
}

.hero-button > a:nth-child(2):hover {
  background-color: #834098;
  color: #ffd012;
}

/* Tablets (min-width: 480px) */
@media (min-width: 480px) {
  .hero-content {
    height: 100vh;
    align-items: center;
    /* Keep title and subtitle centered */
    text-align: center;
    /* Keep centered text alignment */
    margin: 40px;
  }

  .hero-title {
    font-size: 3rem;
  }

  .hero-subtitle {
    font-size: 1.25rem;
  }

  .hero-button {
    flex-direction: row;
    gap: 20px;
    justify-content: flex-start;
    /* Buttons aligned slightly to the left */
    align-self: center;
    /* Center buttons horizontally within hero-content */
  }

  .hero-button > a {
    width: auto;
  }
}

/* Small desktops (min-width: 768px) */
@media (min-width: 768px) {
  .hero-container {
    height: 100vh;
    justify-content: center;
    /* Center hero-content vertically */
    align-items: center;
    /* Center hero-content horizontally */
    padding: 50px;
  }

  .hero-content {
    margin: 80px;
  }

  .hero-title {
    font-size: 4rem;
  }

  .hero-subtitle {
    font-size: 1.5rem;
  }

  .hero-button > a {
    padding: 15px 25px;
  }
}

/* Large desktops (min-width: 1024px) */
@media (min-width: 1024px) {
  .hero-container {
    height: 100vh;
    padding: 100px;
    justify-content: center;
    /* Center the content vertically */
    align-items: center;
    /* Center the content horizontally */
  }

  .hero-content {
    margin: 0;
    /* Remove extra margins to center content */
  }

  .hero-title {
    font-size: 4rem;
    font-family: 'Playfair Display', sans-serif;
  }

  .hero-subtitle {
    font-size: 1.5rem;
  }

  .hero-button {
    margin-top: 30px;
    /* Add some space between content and buttons */
    justify-content: flex-start;
    align-self: start;
  }

  .hero-button > a {
    padding: 12px 38px;
  }
}
