@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:wght@400;500;700&display=swap");
.about {
  margin: 0;
  padding: 85px 0px 115px;
  background-color: rgba(243, 245, 247, 1);
  display: flex;
}
.about-us {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 150px;
  margin-right: 70px;
}
.about-us-text {
  padding: 0px 15px;
}
.about-us-text > h2 {
  font-family: Poppins, sans-serif;
  font-size: 64px;
  margin: 20px 0 25px;
  line-height: 1;
}
.span1 {
  color: #ffd012;
}
.about-us-text > p {
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 48px;
  color: #949494;
  line-height: 1.8;
}
.about-us-text > a {
  background: #000;
  box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.06);
  border: 0;
  padding: 19px 35px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.5px;
}
.about-us-text > a:hover {
  background-color: #ffd012;
}
.about-logos {
  display: flex;
}
.about-col1,
.about-col2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-right: 70px;
}
.block1,
.block2,
.block3,
.block4 {
  padding: 20px 0 0 0;
}
.block1 > span,
.block2 > span,
.block3 > span,
.block4 > span {
  background-color: white;
  box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.06);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.4s;
}
.block1 > span > img,
.block2 > span > img,
.block3 > span > img .block4 > span > img {
  object-fit: contain;
}
.block1 > h5,
.block2 > h5,
.block3 > h5,
.block4 > h5 {
  font: 18px "Poppins", sans-serif;
  margin-bottom: 18px;
  margin-top: 15px;
  color: rgba(0, 0, 0, 1);
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
}
.block1 > p,
.block2 > p,
.block3 > p,
.block4 > p {
  font: 14px "Poppins", sans-serif;
  color: #949494;
  line-height: 2;
}
.mobile-hidden {
  display: inline;
}
/* Phones */
@media only screen and (max-width: 479px) {
  .about {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
  }
  .about-logos {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 25px;
  }
  .about-us {
    margin-left: 50px;
    margin-right: 50px;
    width: 100%;
  }
  .about-col1,
  .about-col2 {
    margin-right: 20px;
  }
  .about-us-text > h2 {
    font-size: 36px;
    line-height: 1;
  }
  .mobile-hidden {
    display: none;
  }

  .block1,
  .block2,
  .block3,
  .block4 {
    padding: 0;
  }
}
/* Tablets */
@media only screen and (max-width: 767px) {
}
/* Larger Screen */
@media only screen and (min-width: 768px) {
}
