@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

.Gallery_container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.Gallery_Text h1 {
  font-family: "Raleway", serif;
  font-size: 36px;
  margin-bottom: 25px;
  font-weight: 700;
  text-align: center;
}
.Gallery_Text p {
  font-family: "Quicksand", serif;
  color: #949494;
  font-size: 16px;
  text-align: center;
  line-height: 26px;
  box-sizing: border-box;
  margin-bottom: 0px;
  margin-top: 0px;
  font-weight: normal;
  display: inline-block;
  max-width: 80%;
}
.Gallery_Text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.Photo_area {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 30px;
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 0 75px;
}
.view_more {
  font-family: "Poppins", serif;
  font-weight: 700;
  color: white;
  font-size: 16 px;
  background-color: #ffd012;
  padding: 19px 35px;
  border-radius: 4px;
  text-align: center;
  width: max-content;
  align-self: center;
  margin: 50px 0;
  transition: 0.3s;
}
.view_more:hover {
  background-color: black;
}
