@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:wght@400;500;700&display=swap");
.footer {
  padding: 100px 0 85px;
  display: flex;
  justify-content: space-evenly;
}
.hope,
.aboutus,
.help,
.impact {
  padding: 0 15px;
  display: flex;
  flex-direction: column;
}
.hope-address {
  padding: 16px 0 0;
}
.hope-address > p {
  margin: 0 0 10px;
  color: #949494;
  font: 14px "Poppins", sans-serif;
  line-height: 1.5;
}
.aboutus > h3,
.help > h3,
.impact > h3,
.follow > h3 {
  font: 16px "Poppins", sans-serif;
  margin: 0 0 22px;
}
.aboutus > a,
.help > a,
.impact > a {
  color: #949494;
  font: 14px "Poppins", sans-serif;
  padding: 0;
  font-size: 14px;
  letter-spacing: -0.5px;
  line-height: 30px;
}
.follow-social {
  display: flex;
}
.follow-social > a {
  margin: 0 35px 0 0;
}
/* Phones */
@media only screen and (max-width: 479px) {
  .footer {
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    width: 100vw;
    
  }
  .follow{
    padding: 15px;
  }
  .hope > img{
    width: 40%;
    height: 25%;
  }
}
/* Tablets */
@media only screen and (max-width: 767px) {
}
/* Large Screen */
@media only screen and (min-width: 768px) {
}
